<div class="magic-shpeksi-wrapper">
  <div class="magic-shpeksi-content">
    @if (heartShown) {
      <h1 class="heart" (click)="goToWishes()">
        ❤️
      </h1>
    }

    @if (wishesShown) {
      <div class="birthday-wishes">
        <p>
          Девочка, солнышко моё,
        </p>
        <p>
          Поздравляю тебя с Днём Рождения!
        </p>
        <p>
          Хочется сказать так много, но самое главное — спасибо тебе за поддержку. Ты настоящая умничка, что справляешься со всем, что происходит вокруг. У нас все выйдет, обязательно.
        </p>
        <p>
          Желаю тебе оставаться такой же хорошенькой, миленькой, моим самым красивым солнышком, светить всем вокруг, как ты всегда это делаешь.
        </p>
        <p>
          Ты у меня бизнес-вумен, строишь свою карьеру. И что бы ни случилось, какие бы обстоятельства ни были — не останавливайся. У тебя всё получится, просто продолжай двигаться и строить своё будущее. Всё получится 💞
        </p>
        <p>
          Ты мой тревожник.
          <br>
          Поэтому, пожалуйста, не переживай и не расстраивайся. Знай, что всё будет хорошо. Мы со всем справимся — я уверен в этом на все 100%!
          <br>
          Отвечая на твой вопрос «когда» — скоро 😅😘
          <br>
          Поменьше читай киевских «Димонов», покемонов, бывших военных, «калибров» и прочее. Слушай папу — он самый лучший монитор.
          <br>
        </p>
        <p>
          Отдельное спасибо твоим замечательным маме и папе за то, что постарались 22 года назад.🤰
        </p>
        <p>
          А больше скажу тебе лично. Пока кайфуй от анимашек
          <br>
          С Днём Рождения, моя хорошая!
        </p>
        <p>
          Цьооооомаю😘😘😘😘
        </p>

      </div>
    }

    @if (!heartShown) {
      <div class="shpeksi-naviagation">
        <button matButton="elevated" (click)="goToHeart()">До Серденька</button>

        @if (galleryShown) {
          <button matButton="elevated" (click)="goToWishes()">До Вітань</button>
        }

        @if (wishesShown) {
          <button matButton="elevated" (click)="goToGallery()">До Галереї</button>
        }
      </div>
    }
  </div>

  @if (galleryShown) {
    <app-portugal-gallery></app-portugal-gallery>
  }

  <div class="powered-by">
    powered by Yehor🫰 with ❤️
  </div>
</div>
